apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-chatbot.fullname" . }}-config
  labels:
    {{- include "todo-chatbot.labels" . | nindent 4 }}
data:
  DATABASE_URL: {{ .Values.backend.env.DATABASE_URL | quote }}
  APP_ENV: {{ .Values.backend.env.APP_ENV | quote }}
  LOG_LEVEL: {{ .Values.backend.env.LOG_LEVEL | quote }}